**/node_modules
**/__pycache__
**/*.pyc
**/.DS_Store
.git
.venv
.env

# Large data and media files
/media/
/data/
/cache/
/job_results/
/tmp/
/logs/
/staticfiles/

# Frontend dependencies and build artifacts
/frontend/node_modules/
/frontend/dist/
