# Python cache
__pycache__/
*.py[co]
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/
wheels/

# Virtual environments
.venv/
env/

# Environment files
.env
.env.*

# Django-specific
*.log
*.sqlite3
logs/
*.pot
*.pyc

# Elevation data and slices
data/
tmp/
output/
*.tif
*.zip
*.svg

doc/


# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Frontend: Node, Vite, React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# System
.DS_Store
Thumbs.db