laserslicer.legradic.ch {

	# API
	reverse_proxy /api/* backend:8000

	# JavaScript assets – force MIME
	@js path *.js
	header @js Content-Type "application/javascript; charset=utf-8"

	# Everything else proxied to the frontend container
	reverse_proxy / frontend:4173
}