laserslicer.legradic.ch {
    root * /frontend/dist
    file_server

    handle_path /api/* {
        reverse_proxy http://backend:8000 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }
}