services:
  db:
    image: postgres:16
    restart: always
    env_file: .env.docker
    environment:
      POSTGRES_HOST: db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: core/Dockerfile.prod
    command: >
      sh -c "./wait-for-db.sh db:5432 -- 
            python manage.py migrate && 
            gunicorn config.wsgi:application --bind 0.0.0.0:8000"      
    env_file: .env.docker
    volumes:
      - ./media:/app/media    
      - ./data/srtm_cache:/app/data/srtm_cache
      - ./data/alti3d_cache:/app/data/alti3d_cache
      - ./data/bathy_cache:/app/data/bathy_cache
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  celeryworker:
    build:
      context: .
      dockerfile: core/Dockerfile.prod
    command: celery -A core worker -l info
    env_file: .env.docker
    volumes:
      - ./media:/app/media    
      - ./data/srtm_cache:/app/data/srtm_cache
      - ./data/alti3d_cache:/app/data/alti3d_cache
      - ./data/bathy_cache:/app/data/bathy_cache
    depends_on:
      - db
      - redis
      - backend

  # multi-stage Caddy image uncomment or add to your existing reverse proxy setup
#   caddy:
#     build:
#       context: .
#       dockerfile: caddy/Dockerfile
#       args:
#         VITE_API_URL: "https://laserslicer.legradic.ch/api"
#     ports: [ "80:80", "443:443" ]
#     volumes:
#       - caddy_data:/data
#       - caddy_config:/config
#     depends_on: [ backend ]
volumes:
  pgdata:


networks:
  default:
    external: true
    name: caddy_net